# Dependencies
node_modules

# Build
dist
*.local
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.cursor/
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Playwright
test-results/
playwright-report/
blob-report/
.playwright-browsers/
